body{
    background-image: linear-gradient(180deg, #F4711F, #638B95);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    text-align: center;
}

h1{
    font-size: 50pt;
}

input{
    font-size: 30pt;
    text-align: left;
    background-color: azure;;
    color: black;
}

label, h2 , p ,button{
    font-size: 30pt;
}

 button{
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    background-color: white;
}
button:hover{
    background-color:black ;
    color: azure;
    border-color: white;
}

p{
border-width: 10px;
border-radius: 10px;
border-color: orange;
border-style: ridge;
}